# Series Object

In [2]:
import pandas as pd

## Creating Series object
`pandas.Series(data=None, index=None, dtype=None, name=None, copy=False)`

In [3]:
# From Python list
pd.Series(list(range(0,10)))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [5]:
# From dictionary
pd.Series(
    dict(
        zip(
            [chr(ord("a") + idx) for idx in range(0,10)],
            list(range(0,10))
        )
    )
)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [14]:
# What happend if we specify index with lesser lenght
try:
    pd.Series(
        data=list(range(0,10)),
        index= [chr(ord("a") + idx) for idx in range(0,3)]
    ) 
except Exception as err:
    print(err)

Length of values (10) does not match length of index (3)

In [7]:
# From Numpy array
import numpy as np
pd.Series(
    np.array(range(0,10))
)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [8]:
# From constant
pd.Series(
    10
)

0    10
dtype: int64

## Method `info()`

In [13]:
data = pd.Series(list(range(0,10)))
print(data, end="\n---\n")
data.info()

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
---
<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 212.0 bytes

In [14]:
data = pd.Series([ idx if idx % 2 == 0 else None for idx in range(0,10)])
print(data, end="\n---\n")
data.info()

0    0.0
1    NaN
2    2.0
3    NaN
4    4.0
5    NaN
6    6.0
7    NaN
8    8.0
9    NaN
dtype: float64
---
<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      float64
dtypes: float64(1)
memory usage: 212.0 bytes

## Attribute `index` of Series Object

In [17]:
data = pd.Series(
    dict(
        zip(
            [chr(ord("a") + idx) for idx in range(0,10)],
            list(range(0,10))
        )
    )
)
display(data)
print("---")
display(data.index)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64
---
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [19]:
data.index.name = 'Custom Index'
display(data)
print("---")
display(data.index)

Custom Index
a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64
---
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object', name='Custom Index')

# Attribute `values` of Series Object

In [28]:
data = pd.Series(
    dict(
        zip(
            [chr(ord("a") + idx) for idx in range(0,10)],
            list(range(0,100,15))
        )
    )
)
display(data)
print("---")
display(data.values)
print("---")
display(data.index.values)

a     0
b    15
c    30
d    45
e    60
f    75
g    90
dtype: int64

---

array([ 0, 15, 30, 45, 60, 75, 90])

---

array(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype=object)

# Tasks: Creating Series object from list
### SPK-PDS-1-1 Task 1
Create empty `Series` obejct and print it.

In [32]:
# Code should return `Series([], dtype: float64)`
print(pd.Series([], dtype=float))

Series([], dtype: float64)

### SPK-PDS-1-1 Task 2
Based on the input numbers splitted by spaces create new `Series` object.

In [33]:
import pandas as pd

s = list(map(int, input().split()))
# Continue your code here
print(pd.Series(s))

0     8
1     9
2    12
dtype: int64

### SPK-PDS-1-1 Task 3
There are data on US GDP in billions of dollars (gdp_usa list) and the period for which these figures were obtained (period list). Create a Series object where the values will be the GDP data, and the indexes will be the periods. Print it out.



**Sample Output:**
```
2021-01-01    22313.850
2021-04-01    23046.934
2021-07-01    23550.420
2021-10-01    24349.121
2022-01-01    24740.480
2022-04-01    25248.476
2022-07-01    25723.941
2022-10-01    26137.992
2023-01-01    26486.287
dtype: float64
```

In [6]:
import pandas as pd  

gdp_usa = [22313.85, 23046.934, 23550.42, 24349.121, 24740.48, 
           25248.476, 25723.941, 26137.992, 26486.287]
period = ['2021-01-01', '2021-04-01', '2021-07-01', '2021-10-01', '2022-01-01',
          '2022-04-01', '2022-07-01', '2022-10-01', '2023-01-01']
# Continue your code here
print(pd.Series(data=gdp_usa,index=period))

2021-01-01    22313.850
2021-04-01    23046.934
2021-07-01    23550.420
2021-10-01    24349.121
2022-01-01    24740.480
2022-04-01    25248.476
2022-07-01    25723.941
2022-10-01    26137.992
2023-01-01    26486.287
dtype: float64

### SPK-PDS-1-1 Task 4
The Series object is given, in which the index is the names of cryptocurrencies, and the data column is the tickers of these cryptocurrencies. Print the indexes of the Series object.

In [2]:
import pandas as pd
crypto_values = ['BTC', 'ETH', 'USDT', 'BNB', 'XRP', 'SOL', 'USDC', 'stETH', 'ADA', 'DOGE']
crypto_index = ['Биткоин', 'Эфириум', 'Tether USDt', 'BNB', 'XRP', 'Solana', 'USD Coin',
                'Lido Staked ETH', 'Cardano', 'Dogecoin']
srs = pd.Series(data=crypto_values, index=crypto_index)
# Continue your code here
print(srs.index)

Index(['Биткоин', 'Эфириум', 'Tether USDt', 'BNB', 'XRP', 'Solana', 'USD Coin',
       'Lido Staked ETH', 'Cardano', 'Dogecoin'],
      dtype='object')

### SPK-PDS-1-1 Task 5
There is data on the net profit of PJSC RusHydro from 2018 to 2022.
* 31837000000 rub. in 2018;
* 643000000 rub. in 2019;
* 46607000000 rub. in 2020;
* 42078000000 rub. in 2021;
* 19325000000 rub. in 2022.

In any way convenient to you, create a Series object in which the index will be the years and the data will be the profit values, and print it.

**Sample Output:**
```
2018    31837000000
2019      643000000
2020    46607000000
2021    42078000000
2022    19325000000
dtype: int64
```

In [5]:
import pandas as pd
years = [
    2018,
    2019,
    2020,
    2021,
    2022
]

profit_data = [
    31837000000,
    643000000,
    46607000000,
    42078000000,
    19325000000 
]

srs = pd.Series(data=profit_data, index=years)
print(srs)

2018    31837000000
2019      643000000
2020    46607000000
2021    42078000000
2022    19325000000
dtype: int64

## Creating Series object from dict

In [7]:
shares = {'ММК': 52.50, 'Северсталь': 1386.20, 'НЛМК': 214.20}
srs = pd.Series(data=shares)

print(srs)

ММК             52.5
Северсталь    1386.2
НЛМК           214.2
dtype: float64

In [8]:
srs = pd.Series(shares, index=['A', 'B', 'C'])

print(srs)

A   NaN
B   NaN
C   NaN
dtype: float64

In [9]:
shares = {'ММК': 52.50, 'Северсталь': 1386.20, 'НЛМК': 214.20} 

srs = pd.Series(shares, index=['ММК', 'Северсталь'])

print(srs)

ММК             52.5
Северсталь    1386.2
dtype: float64

In [10]:
# Creating series with index that is not in dict
srs = pd.Series(shares, index=['ММК', 'Северсталь', 'Test'])

print(srs)

ММК             52.5
Северсталь    1386.2
Test             NaN
dtype: float64

In [12]:
# Creating series with None index
srs = pd.Series(shares, index=['ММК', 'Северсталь', None])

print(srs)

ММК             52.5
Северсталь    1386.2
None             NaN
dtype: float64

# Attribute `dtype` of Series Object
`class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False)`

In [15]:
shares = {'ММК': 52.50, 'Северсталь': 1386.20, 'НЛМК': 214.20} 
srs = pd.Series(shares)
print(srs)
print("---")
print(srs.dtype)

ММК             52.5
Северсталь    1386.2
НЛМК           214.2
dtype: float64
---
float64

In [16]:
shares = {'ММК': 52, 'Северсталь': 1386.20, 'НЛМК': 214.20} 

srs = pd.Series(shares, dtype='object')

print(srs)

ММК               52
Северсталь    1386.2
НЛМК           214.2
dtype: object

## Function `type()`

In [17]:
print(type(srs))

<class 'pandas.core.series.Series'>

## Method `astype()`

In [18]:
srs.astype('float64')

ММК             52.0
Северсталь    1386.2
НЛМК           214.2
dtype: float64

In [19]:
srs.astype('int64')

ММК             52
Северсталь    1386
НЛМК           214
dtype: int64

In [20]:
print(srs)

ММК               52
Северсталь    1386.2
НЛМК           214.2
dtype: object

In [21]:
srs = srs.astype('float64')
print(srs)

ММК             52.0
Северсталь    1386.2
НЛМК           214.2
dtype: float64

# Tasks: Creating Series object from list
### SPK-PDS-1-1 Task 6
Имеется словарь с рейтингами от АКРА нескольких энергетических компаний России (рейтинги на ноябрь 2023 года). Создайте объект Series, в котором колонка индексов будет содержать наименования компаний, а данными будут являться кредитный рейтинги.

* Выведите полученную серию на печать.
* Далее распечатайте пустую строку.
* И затем выведите на печать тип полученного объекта.

**Sample Output:**
```
ПАО "РусГидро"                 AAA(RU)Стабильный
ПАО "Россети Северо-Запад"     AA+(RU)Стабильный
ПАО "РОССЕТИ"                  AAA(RU)Стабильный
ПАО "ТГК-14"                  BBB+(RU)Стабильный
ПАО "Россети Ленэнерго"        AAA(RU)Стабильный
ПАО "МОСЭНЕРГО"                AAA(RU)Стабильный
АО "Россети Тюмень"            AA+(RU)Стабильный
АО "МОСОБЛЭНЕРГО"              AA+(RU)Стабильный
dtype: object

<class 'pandas.core.series.Series'>
```

In [3]:
import pandas as pd
ratings = {'ПАО "РусГидро"': 'AAA(RU)Стабильный', 'ПАО "Россети Северо-Запад"': 'AA+(RU)Стабильный',
           'ПАО "РОССЕТИ"': 'AAA(RU)Стабильный', 'ПАО "ТГК-14"': 'BBB+(RU)Стабильный',
           'ПАО "Россети Ленэнерго"': 'AAA(RU)Стабильный', 'ПАО "МОСЭНЕРГО"': 'AAA(RU)Стабильный',
           'АО "Россети Тюмень"': 'AA+(RU)Стабильный', 'АО "МОСОБЛЭНЕРГО"': 'AA+(RU)Стабильный'}
# Continue your code here
srs = pd.Series(ratings)
print(srs)
print("")
print(type(srs))

ПАО "РусГидро"                 AAA(RU)Стабильный
ПАО "Россети Северо-Запад"     AA+(RU)Стабильный
ПАО "РОССЕТИ"                  AAA(RU)Стабильный
ПАО "ТГК-14"                  BBB+(RU)Стабильный
ПАО "Россети Ленэнерго"        AAA(RU)Стабильный
ПАО "МОСЭНЕРГО"                AAA(RU)Стабильный
АО "Россети Тюмень"            AA+(RU)Стабильный
АО "МОСОБЛЭНЕРГО"              AA+(RU)Стабильный
dtype: object

<class 'pandas.core.series.Series'>

### SPK-PDS-1-1 Task 7
Имеется словарь с данными по чистой прибыли в рублях ПАО "Магнит" за 2019-2022 годы. Создайте объект Series, в котором данные будут иметь тип 'float64'. Выведите полученную серию на печать.

**Sample Output:**
```
2019    9.564222e+09
2020    3.299329e+10
2021    4.810586e+10
2022    2.793252e+10
dtype: float64
```

In [5]:
import pandas as pd
d = {'2019': 9564222000, '2020': 32993292000, '2021': 48105862000, '2022': 27932517000}
# Continue your code here
srs = pd.Series(d, dtype=float)
print(srs)

2019    9.564222e+09
2020    3.299329e+10
2021    4.810586e+10
2022    2.793252e+10
dtype: float64

### SPK-PDS-1-1 Task 8
Используя данные предыдущей задачи, измените тип данных с 'float64' на 'int64'.
* Выведите полученную серию на печать.
* Далее распечатайте пустую строку.
* И затем выведите на печать тип данных объекта Series.

**Sample Output:**
```
2019     9564222000
2020    32993292000
2021    48105862000
2022    27932517000
dtype: int64

int64
```

In [10]:
import pandas as pd

d = {'2019': 9564222000, '2020': 32993292000, '2021': 48105862000, '2022': 27932517000}
srs = pd.Series(data=d, dtype='float64')
# Continue your code here
srs = srs.astype('int64')
print(srs)
print("")
print(srs.dtype)

2019     9564222000
2020    32993292000
2021    48105862000
2022    27932517000
dtype: int64

int64

### SPK-PDS-1-1 Task 9
Имеется объект Series, в котором даты имеют тип данных `object`. Измените тип данных на `datetime64[ns]` и выведите серию на печать.

**Sample Output:**
```
0   2023-03-01
1   2023-03-02
2   2023-03-03
3   2023-03-06
4   2023-03-07
5   2023-03-09
6   2023-03-10
dtype: datetime64[ns]
```

In [11]:
import pandas as pd

val = ['2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06',
       '2023-03-07', '2023-03-09', '2023-03-10']
srs = pd.Series(val)
# Continue your code here
srs = srs.astype('datetime64[ns]')
print(srs)

0   2023-03-01
1   2023-03-02
2   2023-03-03
3   2023-03-06
4   2023-03-07
5   2023-03-09
6   2023-03-10
dtype: datetime64[ns]